table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table th,
table td {
  padding: 15px;
  text-align: center;
}

div p {
  text-align: center;
  margin: 0;
  line-height: 1.65;
}
