/* Style the h1 header */
h1 {
  color: #d55a08;
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
  max-height: 100vh;
  overflow: auto;
}

/* Make the coveredBridge image so that it cannot be larger than the with of the screen it's on, and it adjusts it height based on the width that it has. */
#coveredBridge {
  width: 100%;
  height: auto;
  /* This works better but now make it so that it trims the top and bottom of the picture in equal incriments until it is only displayed within the size of the screen */
  object-fit: cover;
  /* This makes it so that the image is centered in the container */
  object-position: center;
  /* This makes it so that the image is not stretched */
  max-width: 100%;
  max-height: 99vh;
  overflow: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px 20px;
  font-size: 275%;
  text-align: center;
}

/* Make the background of the whole page black */
body {
  background-color: #000;
}